$BGcolor:rgb(228, 222, 208);
$navColor:rgb(87, 89, 177);
$highlight:rgb(133, 134, 197);
body
{
    background-color:  $BGcolor;
}
button, .button, #button
{
    margin: 1px;
    background-color:rgb(187, 131, 87);
    border:none;
    color: white;
}
button,#button:hover
{
    background-color: rgb(26, 8, 75);
    transition-duration: 1s;
}
button:disabled
{
    background-color: $BGcolor;
    color: $BGcolor;
}
.bigInput
{
    padding: 7px;
}
.main
{
    margin:15px;
    padding: 5px;
}
hr
{
    border: 1.5px solid rgb(128, 55, 55);
    width:100%;
    clear: both;
}
.navbar
{
    background-color: $navColor;
    padding:15px;
    height: 25px;
}
a
{
    text-decoration: none;
    padding: 5px;
    background-color: $navColor;
    color: white;
    display: block;
    float: left;
    margin-bottom: 5px;
}
a:hover
{
    background-color: $highlight;
    transition-duration: 0.4s;
}
table
{
    margin:15px;
    padding: 5px;
    border:none;
    background-color: rgb(252, 237, 190);    
    border-radius: 8px;
}
tr:nth-child(even)
{
    background-color: rgb(245, 206, 180);
}
td{border:none}
#clock
{
    float: right;
    padding: 15px;
    color: white;
    height: 25px;
}
#mainBox
{
    border: 2px solid rgb(128, 55, 55);
    border-radius: 6px;
    float: left;
    margin: 5px;
    margin-top: 10px;
    padding: 15px;
}
.levelBox
{
    float: right;
    width: 50px;
}
#friendBox
{
    border: 2px solid rgb(128, 55, 55);
    border-radius: 6px;
    float: left;
    margin: 5px;
    padding: 15px;
}
#statblock
{
    margin: 10px;
}
#statBox
{
    width: 100px;
    margin:2px;
    display: inline-block;
}
#delButton
{
    border-radius: 6px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
}
#delButton:hover
{
    background-color: rgb(143, 11, 11)
}